Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
ColumnLimit: '140'
AccessModifierOffset: '-4'
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Right
AlignConsecutiveMacros: AcrossEmptyLines
BreakBeforeBraces: Attach
NamespaceIndentation: All
IndentCaseLabels: True
SpaceBeforeAssignmentOperators: True
SortUsingDeclarations: True
BreakStringLiterals: True